@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;    
    /* text-align: center; */
}

:root{
    --primary-green: #86c521; 
    --primary-black: #1F2937;
}
/* Navigation part */
header{
    background-color: var(--primary-green);
}
 header a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-black);
    padding: 1rem;
    font-weight: 600;
}
header h1{
    color: var(--primary-black);
}
nav{
    text-align: right;
}
/* container */
h2{
    text-align: center;
    margin:2rem;
    color: var(--primary-green);
    text-shadow: 2px 2px var(--primary-black);
    font-size: 2rem;
    border-inline-start-width: 0px;
}
h3{
    margin-top: 3rem;
}
.container-center{
    box-sizing: border-box;
    display: block;
    /* border: 3px solid var(--primary-green) ; */
    margin: auto;
    text-align: center;
    max-width:50vw;
    padding: 0rem 1rem;
    /* background-color: rgb(95, 94, 94); */

}
label{
    text-align: center;
    width:100%;
    display: block;
    margin-top: 0.4rem;
    font-size: 1.27rem;
    font-weight: bolder;
    color: var(--primary-green);
    text-shadow: 1px 1px var(--primary-black); 
}
input{
    width:100%;
    display: block;
    margin-top: 0.4rem;
    font-weight: bold;
    border-radius: 1rem;
    border:transparent;
    padding: 0.5rem;
    margin-bottom: 1rem ;
    font-size: large;
    border: 3px solid var(--primary-green);
    box-shadow: 2px 2px 3px var(--primary-green);
    outline: none;

}
button{
    background-color: var(--primary-green);
    display: block;
    color: var(--primary-black);
    text-align: center;
    margin: auto;
    cursor: pointer;
    border: 2px solid var(--primary-green);
    padding: 0.5rem 1rem;
    margin-top: 1.5rem ;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: bold;
    box-shadow: 2px 2px 4px var(--primary-green);
    outline: #fff;
}
/* footer */
footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--primary-green);
    font-weight: bold;
  }
  
  footer p {
    font-size: large;
    text-align: center;
    margin-top: 4rem;
  }
  
  .footer-list {
    margin: 2rem;
  }
  
  li{
    display: inline;
  }
  .link{
      text-decoration: none;
      color:var(--primary-green);
      padding: 0.4rem;
  }
  
  #output {
    font-size: x-large;
    margin: 1rem;
    color: var(--primary-green);
    font-weight: bold;
  }

  /* H2,h3 heading in hypontenuse file */
  /* @media (max-width: 900px) {
    body {
      max-width: 95%;
      width: 100%;
    }
    .inline-item {
        display: inline;
        padding: 0rem;
      }
    
      .container-center {
        width: auto;
      }
      
    } */